Name: <%= @product[:name] %></br>
Description: <%= @product[:description] %></br>
Price: $<%= @product[:pricing] %></br>
<% if @product.category %>
Category: <%= @product.category.name %>
<% else %>
Category: N/A
<% end %>
</br>
</br>
<a href="/products/<%= @product[:id] %>/edit">Edit</a> | <a href="/products/<%= @product[:id] %>" data-method='delete'> Delete </a> | <a href="/">Back</a>
</br>
<h2>Comment:</h2>
<form class="" action="/comments" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="id" value="<%= @product.id %>">
  <textarea name="comment[comment]" rows="8" cols="80"></textarea>
  <input type="submit" name="" value="Submit">
</form>
<% @comments.each do |i| %>
  <p><%= i.comment %></p>
<% end %>
