<h1>Secrets</h1>
<% @secrets.each do |i| %>
  <p><%= i.content %></p>
  <p>Likes: <%= i.likes.length %></p>

  <% if i.users_liked.include?(@user) %>
    <form class="" action="/likes/<%= i.id %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="u_id" value="<%= session[:id] %>">
      <input type="submit" name="" value="Unlike">
    </form>
  <% else %>
    <form class="" action="/likes" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="id" value="<%= i.id %>">
      <input type="hidden" name="u_id" value="<%= session[:id] %>">
      <input type="submit" name="" value="Like">
    </form>
  <% end %>

  <% if i.user == @user %>
    <%= link_to 'Delete', secret_path(i), method: :delete %>
  <% end %>
<% end %>
